services:
  db:
    image: mysql:latest
    container_name: db_booking
#    env_file:
#      - '.env'
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

# MySQL создаёт два пользователя: <user>@'localhost' и <user>@'%' (т.е. с любого IP)
#      MYSQL_ROOT_HOST: '%'

    volumes:
      - mysql_data:/var/lib/mysql

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      start_interval: 10s
      start_period: 10s
      timeout: 5s
      retries: 3

    ports:
      - "33066:3306"


volumes:
  mysql_data:
